*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	min-height: 100vh;
	margin: 0;

	background-color: @color--bg;
}

body {
	background-image: url(../img/background1.jpg);
    background-size: 110px;
}

html {
	font-family: @font--1;
	font-size: 100%;
	color: @color--text;
	letter-spacing: 0.1em;
	-webkit-font-smoothing: antialiased;	
}

body {

	&::before {
		background-image: url(../img/background2.jpg);
    	background-size: 230px;
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		width: 50vw;
	}
	// resize activity indicator
	&::after {
		content: ' ';

		position: fixed;
		left: 50%;
		top: 50%;
		z-index: 1200;

		display: block;
		width: 6rem;
		height: 6rem;
		margin: -5.5rem 0 0 -3rem;

		border: 1px solid @color--text;
		border-radius: 50%;

		opacity: 0;

		pointer-events: none;

		transition-duration: 150ms;
		transition-property: opacity, filter;
		transition-timing-function: ease;
	}

	.visible--intro & {

		&::after {
			opacity: 1;
		}
	}
}
