.timeline-wrapper {
	position: absolute;
	left: 50%;
	top: 50%;

	width: 70vh;
	height: 70vh;
	margin: calc( -35vh - 2.5rem ) 0 0 -35vh;

	overflow: hidden;
}

.timeline-wrapper > svg {
	display: block;

	transform-origin: 0 0;
}

#placeholder {
	display: none;
}