.timeline-wrapper {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 0;

	width: 100%;
	height: 88vh;
	margin: 6vh 0;

	overflow: hidden;

	transition: opacity 750ms ease, height 300ms ease;
	border: 1px solid green;

	display:flex;
	flex-flow: row wrap;

	.visible--ui-controls & {
		height: ~"calc(88% - 96px)";
	}

	.runner {
		border-left: 2px solid red;
		position: absolute;
		top: 0;
		width: 10%;
		left: 0;
		height: 100%;
	}
	.sample {
		display: flex;
		width: 100%;

		.step {
			border: 1px solid green;
			cursor: pointer;
			flex: 1 auto;
			position: relative;

			.content {
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				font-size: 14px;
				display: flex;
				align-items: center;
				justify-content: space-around;

				transition: 0.5s background-color;
				background-color: transparent;
				background-repeat: no-repeat;
				background-size: contain;
				background-position: center;
				opacity: 0;

				&.added {
					transition: 0s background-color;
					background-color: blue;
				}
				&.active {
					transition: 0s background-color;
					background-color: red;
				}
			}
			&[data-sample="0"]{
				.content {
					background-image: url('../img/0.png');
				}
			}
			&[data-sample="1"]{
				.content {
					background-image: url('../img/1.png');
				}
			}
			&[data-sample="2"]{
				.content {
					background-image: url('../img/2.png');
				}
			}
			&[data-sample="3"]{
				.content {
					background-image: url('../img/3.png');
				}
			}
			&[data-sample="4"]{
				.content {
					background-image: url('../img/4.png');
				}
			}
			&[data-sample="5"]{
				.content {
					background-image: url('../img/5.png');
				}
			}
			&[data-id] {
				.content {
					opacity: 1;
				}
			}
			&:hover {
				border: 1px solid blue;
				outline: 1px solid blue;
				z-index: 2;
			}
		}
	}
}
