// toggle
.ui-toggle--info {
	position: fixed;
	right: 0;
	top: 0;

	display: block;
	margin: 5px 40px;

	font-size: 0.875rem;
	line-height: 1;
	text-transform: uppercase;
	color: inherit;

	background: black;
	font-size: 21px;
	padding: 5px 10px;

	&:hover {
		.animation--blink;
	}	
}

// modal
.ui-modal--info {

	.visible--ui-info & {
		.ui-modal.visible;
	}
}