// toggle
.ui-toggle--share {
	position: fixed;
	left: 0;
	bottom: 0;

	display: block;
	
	margin: 5px 40px;

	font-size: 0.875rem;
	line-height: 1;
	text-transform: uppercase;
	color: inherit;

	background: black;
	font-size: 21px;
	padding: 5px 10px;

	transition: all 300ms ease;

	&:hover {
		.animation--blink;
	}
}

// modal
.ui-modal--share {

	.visible--ui-share & {
		.ui-modal.visible;
	}
}

.ui-modal--share {
	.ui-modal-close--share {
	    top: 0;
	    margin: 0;
	    bottom: 150px;
	    right: 0;
	    left: 0;
	    width: 100%;
	    opacity: 0;
	    z-index: 2;
	}

	.ui-modal-content {
		background: black;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;

		.banner {
			background: url('../img/banner3.jpg');
			background-size: cover;
			background-position: center bottom;
			position: absolute;
			bottom: 150px;
			left: 0;
			right: 0;
			top: 0;
		}
		.footer-bar {
			background: white;
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			height: 150px;

			ul {
				display: inline-block;
				padding: 0;
				margin: 35px 0;

				li {
					display: inline-block;
					margin: 0 5px;

					.share-link {
						background: black;
						color: white;
						padding: 0 9px;
						display: inline-block;

						&:hover {
							.animation--blink;
						}
					}
				}
			}
		}
	}
}
.share-url {

	.button;

	border-color: black;
	position: relative;

	height: 1.7rem;
	padding: 0 4rem 0 0;
	max-width: 440px;
	width: 100%;

	&::after {
		content: ' ';

		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;

		display: block;
		width: 2rem;
		margin-right: 80px;

		background: linear-gradient( 90deg, transparent 0%, white 90% );
	}

	&:hover,
	&:focus {
		background: transparent !important;
		animation: none !important;
	}
}

.share-url-input {
	appearance: none;
	box-sizing: border-box;
	display: block;
	width: 100%;

	padding: 4px 7px;

	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	color: black;

	background: transparent;
	border: none;

  	outline: none;
	box-shadow: none !important;
}

.share-url-button {
	.button;

	background-color: white;
	color: black;
	position: absolute;
	right: 0;
	top: 0;

	width: 80px;

	text-align: center;

	border: none;
	border-left: 1px solid currentColor;
	border-radius: 0 5px 5px 0;
}

@media screen and ( max-width: 656px ) {
	.ui-toggle--share {
		font-size: 12px;
		margin-left: 20px;
	}

	.ui-modal--share .ui-modal-content {

		.banner {
			
		}
		.footer-bar {
			

			ul {
				margin: 20px 0;

				li {
					margin: 6px 5px;
				}
			}
		}
	}
}